.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #4be97c; }
.default-color1.chart-series-line { -fx-stroke: #0024f0; }
.default-color2.chart-series-line { -fx-stroke: #dda0dd; }

.default-colorq0.chart-line-symbol { -fx-background-color: #5052e9, white; }
.default-color1.chart-line-symbol { -fx-background-color: #f00041, white; }
.default-color2.chart-line-symbol { -fx-background-color: #dda0dd, white; }